.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  text-decoration: none;
  font-weight: normal;
  color: white;
  box-sizing: border-box;
  display: inline;
  margin-top: 10px;
  margin-bottom: 0px;
}