.footer__column_content_copyright {
  line-height: 25px;
  font-size: 18px;
  color: white;
  min-height: 350px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  flex-basis: 711px;
  margin: 0px;
}